* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.red-txt{
    color: #E55473;
}
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 150px;
    background-color: rgba(230, 179, 189, 0.199);
}

.text-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-description {
    width: 91%;
    font-size: 16px;
    margin: 32px 0px;
    color: gray;

}

.banner-content {
    padding-top: 80px;
}

.bimg {

    width: 400px;

}

.banner-description {
    width: 81%;
    margin: 32px 0px;
}

.btn {
    border-radius: 10px;
    background: #E55473;
    padding: 18px 35px;
    border: 0;
    color: white;

}

/* main */
.flower-featured-section {
    text-align: center;
    padding: 100px 0px;
}

.featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;


}

.feture-photo {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 20px;
    padding: 80px 50px 0px;


}

.photo {
    width: auto;
    height: 300px;
}

.flower-caption {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;

}

.change-bgcolor1 {
    background-color: rgba(5, 151, 160, 0.15);
}

.change-bgcolor2 {
    background-color: rgba(71, 125, 17, 0.15);
}

/* Shop Facility */
.shop-facility-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    text-align: center;
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
}

/* Shop Offer */
.shop-offer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    margin: 100px 0;
}
.shop-offer-content{
    text-align: center;
}
/* Instagram Gallery */

.instagram-gallery-content{
    text-align: center;
    padding: 100px 50px;
}

.instagram-photo{
    text-align: center;
}
.insta-pic{
    width: 270px;
    margin-right: 10px;
}
/* Subscribe form Section */
.subscribe-section{
    background-image: url("../images/Rectangle\ 9.png"),linear-gradient(rgba(82, 80, 80, 0.989), rgba(111, 108, 108, 0.508));
   /* background-position: center; */
   background-blend-mode: overlay;
   background-size: cover ;
   background-repeat: no-repeat;
   padding: 120px 0;
   text-align: center;
   width: 80%;
  margin: 80px auto;
  border-radius: 8px;

}
input[type=email] {
    width: 60%;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    border: 0;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 16px;
  }
  input[type=submit] {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border: 0;
    color: white;
  }

  /* About Flower Shop */
  .about-flower-shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 100px;
    background-color: #fff3f5dd;
  }
  .about-img{
    width: 90%;
    border-radius: 8px;
    box-shadow: 4px 5px 6px #646363;
  }
  /* Footer Section */
  .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111010;
    color: #fff;
    padding: 100px 0;
  }
  .copyright-txt{
    font-size: 12px;
    color: #cdcaca;
    margin-top: 20px;
  }